pyiron==0.5.2
pyiron-base==0.15.1
pyiron-atomistics==0.7.20
pyiron-continuum==0.0.8
pyiron-experimental==0.0.3
damask==3.0.0
fenics==2019.1.0
gpaw==24.6.0
hyperspy==2.2.0
nglview==3.1.4
pystem==0.0.26
python-ace==0.3.1
pyvista==0.44.2
pyxem==0.20.0
temmeta==0.0.6
vtk==9.2.6
pytorch==2.3.1
